

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
.project
*.launch
.settings/

# IDEs - VSCode
.vscode/*

# misc
npm-debug.log
/typings

#System Files
.DS_store
Thumbs.debug
